header {
    background-color: rgb(252, 191, 191);
}
nav > ul {
    list-style: none;
    padding: 2px;
}
nav > ul > li {
    margin: 0 14px;
    padding: 2px 4px;
    background-color: lightblue;
    border-radius: 10px;
}
.left_column {
    background-color: rgb(161, 145, 145);
}
.primary_color {
    background-color: green;
}
.right_column {
    background-color: rgb(180, 163, 245);
}

footer {
    background-color: rgb(77, 158, 250);
}
